<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="졸업관리시스템"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".yearof2019"></activity>
        <activity android:name=".yearof2018"></activity>
        <activity android:name=".yearof2017"></activity>
        <activity android:name=".yearof2016"></activity>
        <activity android:name=".CheckList_MainActivity"></activity>
        <activity android:name=".registerAct"></activity>
        <activity android:name=".Box"></activity>
        <activity android:name=".DBlogin"></activity>
        <activity android:name=".Menu_MainActivity"></activity>
        <activity android:name=".Board_MainActivity"></activity>
        <activity android:name=".WritePage"></activity>
        <activity android:name=".DeletePage"></activity>
        <activity android:name=".ListPage"></activity>
    </application>

</manifest>